<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Book Bros!</h1>
    <p>
      Here is a link to your club: <br><br>
      <%= @club_link %>
    </p>

    <p>This link will log you into your club, so share it with your friends and invite them to join!</p>
  </body>
</html>