
	<ul style="display: flex; flex-direction: column;">
		<li><a href="#" class="rounded-link">rounded-link</a></li>		
		<li><a href="#" class="rounded-link solid-link">solid-link</a></li>
		<li><a href="#" class="rounded-link expanding-link">expanding-link</a></li>
		<li><a href="#" class="rounded-link transparent-link">transparent-link</a></li>
		<li><a href="#" class="rounded-link small-link">small-link</a></li>
		<li><a href="#" class="rounded-link fixed-width-link">fixed-width</a></li>
	</ul>