<main>
	<h1>Add a book</h1>
</main>



<% if @search %>
	<ul id="book-search-results"></ul>

	<script src="https://www.googleapis.com/books/v1/volumes?q=in+the+skin+of+a+lion&callback=googleBooksApiResponse"></script>
<% else %>
	<%= form_for :book, url: books_path do |f| %>
		<%= f.label :book_search %>
		<%= f.text_field :book_search, placeholder: "e.g. War and Peace", autocomplete: "off", required: "true" %>
		<%= f.submit %>
	<% end %>
<% end %>
