<main>
	<div class="empty">
		<h1>Uh oh - an error occurred.</h1>
		<p>If this persists, please contact the site administrator.</p>
		<div class="button-group">
			<%= link_to "Go back home", home_path, class: "rounded-link" %>
		</div>
	</div>
	
</main>