<main>
	<div class="empty">
		<h1>Page not found</h1>
		<p>You may have mistyped the address. If you think this page should exist, please contact the site administrator.</p>
		<div class="button-group">
			<%= link_to "Go back home", home_path, class: "rounded-link" %>
		</div>
	</div>
	
</main>