/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
 	height: 100%;
 	overflow-x: hidden;
 }

img {
	display: inline-flex;
}

body {
	position: relative;
	color: white;
	font-family: 'Roboto Mono', monospace;
	margin: 0;
	padding: 0;
	width: 100vw;
}

a {
	text-decoration: none;
	color: skyblue;
	display: inline-block;
	width: 46%;
	padding: 0;
	height: 100%;
	border-radius: 25px;
	/*background: white;
	border: skyblue;*/
}

a:hover {
	background: skyblue;
	color: white;
	transition: 0.2 ease;
}

.button {
	background: transparent;
	border: 2px solid skyblue;
	color: skyblue;
	opacity: 0.9;
	box-shadow: none;
}

.button:hover {
	background: skyblue;
	color: white;
	opacity: 1;
	/*box-shadow: 1px -1px 7px 2px rgba(153,181,247,1);*/
}

main {
	z-index: 1;
	padding: 0 10px 50px;
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: url(/books_background.jpg) no-repeat, 
		/*black;*/
		linear-gradient(to bottom, rgba(10,10,10,0.9) 0%, rgba(0,0,0,1) 100%);
	background-size: 70vw;
	min-height: 100vh;
	background-position: bottom right, left;
	/*min-height: 1900px;*/
	/*background-image: */
    /*linear-gradient(to bottom, rgba(30, 75, 115, 0.6), rgba(255, 255, 255, 0.4)),url(/books.png);*/
	/*background-position: top right;*/
	

}

.sub-page {
	background-size: 100vw;
}

/*main:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/*background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	filter: brightness(90%); 
	background: 
      url(https://mdn.mozillademos.org/files/11307/bubbles.png),
    /*linear-gradient(to bottom, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
  	background-repeat: no-repeat;
  	background-position: top, bottom;
	/*background-size: cover;
}*/

h1 {
	font-size: 2.9rem;
	padding: 0;
	margin: 40px 10px;
	text-align: center;
	font-family: 'ZCOOL KuaiLe', cursive;
	text-shadow: -4px 4px 12px rgba(150, 150, 150, 1);
}

#book-header {
	z-index: -1;
	position: absolute;
	right: 0;
	width: 95vw;
	opacity: 0.2;
	filter: hue-rotate(50%);
}

ul {
	display: flex;
	align-items: right;
	justify-content: top;
}

ul li {
	font-size: 1.3rem; 
	list-style-type: none;
	display: inline-block;
}

.book-text {
	font-size: 3.2vw;
	color: yellow;
	margin: 40px 0 10px 100px;
}

.book-cover {
	/*height: 400px;*/
	margin-left: 10%;
	padding: 20px 0;
	display: inline-flex;
}

.book-cover img {
	width: 30vw;
	height: auto;
	/*max-height: 400px;*/
	/*min-height: 400px;*/
}

.current-book {
	display: block;
	position: relative;
	margin: 10px 0 15px 0;
	padding: 0 0 0 35vw;
}

.current-book img {
	box-shadow: 3px -1px 36px 6px rgba(153,181,247,1);
}

.search-links {
	/*width: 100%;
	max-width: 400px;*/
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;

}

.search-links a {
	width: 30vw;
	max-width: 200px;
	margin: 5px 0;
	padding: 8px 0;
	font-size: 1.1rem;
	display: inline-block;
}

.search-links span {
	position: relative;
	background: transparent;
	color: skyblue;
	height: 100%;
}	

.previous-books {
	margin-left: 10%;
}

.min-height {
	min-height: 400px; 
}

figure.previous img {
	box-shadow: 3px -1px 46px -3px rgba(27,92,245,1);
}

figure {
	display: flex;
	position: relative;
}

figcaption {
	position: absolute;
	margin: 30% auto;
	width: 100%;
	text-align: center;
	/*white-space: pre;*/
}

figcaption a.add-rating {
	font-size: 1.2rem;
	text-align: center;
	border: 2px solid skyblue;
	padding: 10px 4px;
	width: 120px;
	max-width: 100%;
	background: white;
	opacity: 0.8;
	position: relative;
	height: 22px;
	top: 0;
	transition: height 15ms ease, width 15ms ease-in-out, padding 15ms ease, top 15ms ease;

}

figure:hover figcaption a.add-rating {
	/*width: 110%;*/
	opacity: 1;
	height: 30px;
	width: 125px;
	padding: 18px 6px 10px;
	top: -8px;
	transition: height 15ms ease, width 15ms ease-in-out, padding 15ms ease, top 15ms ease;
	box-shadow: 3px -1px 46px -3px rgba(27,92,245,1);

}

.ratings ul {
	margin-left: 0;
	padding-left: 0;
}

.ratings p span:first-child {
	font-weight: bold;
	/*margin-left: 0;
	padding-left: 0;*/
	background: transparent;
	color: skyblue;
}

.ratings p span.average-rating {
	background-color: transparent;
	color: yellow;
}

.more {
	font-size: 0.9rem;
	color: white;
	background: transparent;
}

.see-all {
	display: inline-flex;
	height: 20px;
	width: auto;
	/*border-radius: 4px;*/
	padding: 2px 6px;
}


.book-image {
	display: flex;
	min-height: 40vw;
}


.book-title {
	background: skyblue;
	color: black;
}

.by {
	font-size: 0.9rem;
	background: transparent;
	color: white;
}

.book-author {
	color: yellow;
	font-size: 1.0rem;
	background: transparent;
	margin: 0;
}

section {
	display: flex;
}

.current-book-section {
	flex-direction: column;
	justify-content: center;
}

.current-book-section ul {
	margin-left: 0;
	padding: 20px 35vw;
}

section ul {
	display: flex;
	flex-direction: column;
	margin: 10px 5%;
	width: 100%;
	text-align: left;
	/*margin-left: 15vw;*/
}

section ul li {
	margin: 5px;
}

section ul li span {
	background: green;
	color: black;
	border-radius: 4px;
	padding: 0 2px;
}

#copyright {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: white;
	font-size: 0.6rem;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}


/*-------------------------- MEDIA QUERIES --------------------------*/

/*@media screen and (max-width: 1100px) {
	main {
		background-size: 200px;
	}
}*/

@media screen and (max-width: 700px) {

/*	.search-links {
		margin-left: 50px;
		text-align: center;
		min-width: 250px;
	}*/

	main {
		margin-left: 0;
	}

	section {
		flex-direction: column;
	}
	.search-links a {
		padding: 10px 0;

	}

	section ul {
		position: relative;
		margin: 5px 10vw;
		padding: 10px;
		width: 100vw;
		display: flex;
		justify-content: center;
		/*align-items: center;*/
	}
	section ul li {
		margin: 5px 0;
	}

	figcaption {
		margin: 20%;
	}

	.current-book-section ul, .current-book {
		width: 100vw;
		text-align: center;
		padding: 5px 0;
		margin: 0 auto;
	}

	.book-text {
		font-size: 5vw;
		/*margin-left: 20vw;*/
	}

}