/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/*-------------------------- MEDIA QUERIES --------------------------*/


@media screen and (max-width: 800px) {

	nav {
		position: fixed;
	}

	nav ul {
		position: relative;
	}

	nav ul li {
		mix-blend-mode: unset;
	}

	.club-nav {
		display: none;
	}

	#hamburger-menu {
		position: fixed;
		display: block;
		font-size: 3rem;
		top: 0;
		right: 10px;
	}

	.nav-links:hover ul li {
		display: block;
	}

	.nav-links:hover ul li.club-nav {
		display: none;
	}

	.nav-links ul li:hover #hamburger-menu {
		display: none;
	}

	nav ul li.nav-links ul {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		width: 100vw;
		flex-direction: column;
		/*position: absolute;*/
		/*right: 200px;*/
		align-items: baseline;
		height: auto;
		justify-content: space-around;
		background: skyblue;
	}

	nav ul li.nav-links ul li {
		width: 300px;
		margin: 0 auto;
		padding: 30px;
		width: 100%;
		/*position: absolute;*/
		display: none;
		/*text-align: left !important;*/
	}

	nav ul li.nav-links ul li a {
		position: relative;
		left: -30vw;
		text-align: left !important;
		width: 100%;
		padding: 30px 60vw;
		overflow-x: hidden;
		white-space: pre;
		/*position: absolute;*/
	}

	.about {
		width: 94vw;
		padding: 0 3vw;
	}

	.about div {
		padding: 0 30px 0 0;
	}
	main {
		margin-left: 0;
	}

	section {
		flex-direction: column;
	}

	#logo {
		left: calc(50vw - 175px);
	}
	#logo img {
		width: 50vw;
	}

	.current-book-section {
		flex-direction: column;
	}

	.current-book-info {
		width: 100vw;
	}

	figure {
		margin: 10px auto;
	}
	.book-search-links {
		display: flex;
		padding: 0;
		margin: 0;
	}

	.book-search-links a, .show-book-search-links a {
		margin: 10px auto;
	}

	.show-book-search-links {
		margin: 0;
	}

	section ul {
		position: relative;
		margin: 5px 10vw;
		padding: 10px;
		width: 100vw;
		display: flex;
		justify-content: center;
		/*align-items: center;*/
	}

	figcaption {
		width: 98%;
		margin: 0 auto;
		
		/*margin: 20%;
		position: relative;*/
	}

	figure.book-cover {
		height: auto;
		width: 98%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}

	#book-synopsis {
		width: 80vw;
		margin: 20px auto;
	}

	#book-synopsis p {
		font-size: 1.2rem;
	}

	#book-synopsis p span.synopsis {
		font-size: 0.9rem;
	}

	.show-book-page-cover section {
		width: 100vw;
		margin-top: 50px;
	}

	.book-image img {
		width: 70vw;
		margin: 0 auto;
		height: auto;
		min-height: calc(70vw * 1.35);
	}

	.add-rating, .form-wrapper form input[type="submit"] {
		height: 40px;
		font-size: 1.8rem;
		padding: 1px 6px;
		width: auto;
		opacity: 0.95;
	}

	figure:hover .add-rating {
		font-size: 1.8rem;
		height: 48px;
	}

	figure:hover .move-add-rating-up {
		height: 40px;
	}

	.rating p {
		max-width: 92vw;
	}

	.rating:hover .rating-notes {
		margin-top: 5px;
		position: relative;
		display: block;
		width: 80vw;
		left: 0;
	}

	p.rating-notes-show {
		width: 88%;
	}

	.form-wrapper {
		width: 95vw;
	}

	.form-show {
		max-width: 70vw;
		margin-left: 13vw;
	}

	.form-wrapper form {
		width: 100%;
		margin: 0 auto;
		position: relative;
		max-height: 450px;
	}

	.book-text {
		width: 100vw;
		text-align: center;
		padding: 5px 0;
		margin-left: 0;
		font-size: 6vw;
	}

	ul:first-child li:first-child, ul:first-child li:nth-child(2) {
		text-align: center;
	}

	.book-details-and-ratings {
		width: 100vw;
		margin: 0 1vw;
	}

	.book-details-and-ratings ul {
		align-items: center;
	}

/*	.edit-delete-links {
		flex-direction: column;
		position: absolute;
		bottom: -15px;
	}*/

	li.rating {
		text-align: center;
		margin: 20px 5px 5px;
	}

	ul.show-page-ratings {
		margin: 10px auto;
	}

	.average-rating {
		width: 280px;
		text-align: center;
	}

	.fixed-average-rating {
		top: 400px;
		left: 15vw;
		width: 65vw;
	}

	.current-book img {
		height: auto;
		min-height: 250px;
	}

	.big-name {
		width: 94vw;
		margin: 0 0 0 -5px;
		padding: 2px 3vw;
	}

	.club-links p {
		margin: 1vw;
		width: 98vw;
	}

	.button-group {
		margin: 1vw 0;
		width: 98vw;
	}

	.club-stats {
		flex-direction: column;
	}

	.club-stats div {
		margin: 0 auto;
	}

	.club-stats div .average-rating {
		width: 80vw;
	}

	.club-stats .club-stat-averages {
		width: auto;
		margin: 0;
		padding: 10px 0;
	}

	.club-stats .club-stat-books {
		width: 100vw;
		margin: 0;
		padding: 10px 0;
		text-align: center;
	}

	.club-stat-books > p a, .club-stat-averages > div {
		margin: 5px 5vw;
	}

	.wide-rating {
		width: 90vw;
		margin: 20px 5px;
	}

	.club-stats {
		flex-direction: column-reverse !important;
	}

	.club-stat-averages, .club-stat-books {
		width: auto !important;
		margin: 20px auto !important;
	}

}

@media screen and (max-width: 500px) {
	.fixed-average-rating {
		left: 10vw;
	}
}
