// Place all the styles related to the Clubs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-club-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	width: 324px;
	padding: 10px 0;

	li {
		padding: 5px 0;
		margin: 5px 0;
		width: 100%;
		input {
			width: 324px;
		}
	}

	li.actions {
		display: flex;
		// flex-direction: column;
		justify-content: center;
		// flex-wrap: wrap;
	}
}

.club-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
	margin-top: 50px;
	text-align: left;
	font-size: 0.7rem;

	p {
		margin: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 95vw;

		#share-link {
			height: 15px;
			width: 280px;
		}
	}

	.share-link {
		background: skyblue;
		color: black;
		padding: 2px;
		max-width: 80vw;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		display: inline-block;
	}
	// padding: 10px 10vw;
	.button-group {
		margin: 10px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: end;
		flex-wrap: wrap;
	}
}

.clubs-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	li {
		display: block;
	}
}

#share-link-button {
	position: relative;
}

.copied::after {
	position: absolute;
	z-index: 10;
	right: 70px;
	bottom: -20px;
	display: block;
	content: "copied";
	font-size: 0.8rem;
	padding: 4px;
	color: white;
	background-color: var(--gradient);
	border-radius: 4px;
	opacity: 0; 
	animation: showcopied 2s ease;
}

@keyframes showcopied {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}
	20% {
		opacity: 0.7;
	}
	50% {
		opacity: 1;
		transform: translateX(30%);
	}
	100% {
		opacity: 0;
		transform: translateX(0%);
	}
}


.club-stats {
	margin: 0 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: top;
	flex-wrap: wrap;
	min-height: 200px;
	// border-bottom: 2px solid white;

	&:first-child {
		margin-top: 110px;
	}

	a {
		line-height: 30px;
	}
	> div {
		padding: 5px 10px;
	}

	.average-rating {
		margin: 15px auto;
		max-width: 270px;
	}

	.club-stat-books, .club-stat-averages {
		width: 44vw;
		display: flex;
		flex-direction: column;
	}
}

.small-text {
	font-size: 1.1rem;
}

.big-name {
	font-size: 1.5rem;
	color: yellow;
	mix-blend-mode: hard-light;
}