// Place all the styles related to the Clubs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-club-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	width: 324px;
	padding: 10px 0;

	li {
		padding: 5px 0;
		margin: 5px 0;
		width: 100%;
		input {
			width: 324px;
		}
	}

	li.actions {
		display: flex;
		// flex-direction: column;
		justify-content: center;
		// flex-wrap: wrap;
	}
}

.clubs-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	li {
		display: block;
	}
}

.club-stats {
	margin: 0 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: top;
	flex-wrap: wrap;
	min-height: 200px;
	border-bottom: 2px solid white;

	&:first-child {
		margin-top: 110px;
	}

	a {
		line-height: 30px;
	}
	div {
		margin: 2px 2px 2px 0;
		padding: 5px 10px;

		.average-rating {
			margin: 15px 2px;
			max-width: 270px;
		}
	}
	.club-stat-books {
		width: 50vw;
	}

	.club-stat-averages {
		width: 35vw;
	}
}

.small-text {
	font-size: 0.9rem;
	text-align: center;
}

.big-name {
	font-size: 1.5rem;
	color: yellow;
}