// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
 	height: 100%;
 	overflow-x: hidden;
 }

img {
	display: inline-flex;
}

body {
	position: relative;
	box-sizing: border-box; 
	color: white;
	font-family: 'Roboto Mono', monospace;
	margin: 0;
	padding: 0;
	width: 100vw;
}

main {
	z-index: 1;
	padding: 0 0 200px;
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: url(/books_background.jpg) no-repeat, 
	linear-gradient(to bottom, rgba(10,10,10,1) 0%, rgba(0,0,0,1) 100%);
	background-size: 100vw;
	min-height: 100vh;
	background-position: bottom right, left;
}

h2 {
	text-align: center;
	font-size: 2.5rem;
	margin: 80px auto 40px;
}

#logo img {
	position: fixed;
	width: 400px;
	height: auto;
	top: 20px;
	right: calc(50% - 200px);
	opacity: 1;
	transition: width 0.2s ease-in-out, opacity 0.2s ease, right 0.2s ease;
}

.icon {
	width: 24px;
	height: 24px;
}

.text-after-icon {
	position: relative;
	bottom: 4px;
}

.rounded-link, input[type="submit"], figcaption input[type="submit"] {
	background: rgba(107, 209, 251, 0.1);
	text-decoration: none;
	color: skyblue;
	display: inline-block;
	width: auto;
	text-align: center;
	padding: 2px 4px;
	height: 100%;
	border-radius: 25px;
	border: 2px solid skyblue;

}

.search-links {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	width: 100%;

	a {
		width: 200px;
		margin: 5px 0;
		padding: 8px 0;
		font-size: 1.1rem;
		display: inline-block;
	}

	// span {
	// 	position: relative;
	// 	background: transparent;
	// 	color: skyblue;
	// 	height: 100%;
	// }
}

a:hover, .add-rating:hover, input[type="submit"]:hover, figcaption input[type="submit"]:hover {
	background: skyblue;
	color: white;
	transition: background 0.15s ease, color 0.15s ease;
	opacity: 1;
	cursor: pointer;
}

button, figcaption input[type="submit"] {
	background: transparent;
	border: 2px solid skyblue;
	color: skyblue;
	opacity: 0.9;
	box-shadow: none;
	height: 42px;
	padding: 4px 0 10px;
}

figcaption input[type="submit"] {
	background: white;
	color: skyblue;
	font-size: 1.3rem;
	border-radius: 25px;
	margin: 0 5px 20px;
	width: 150px;
	cursor: pointer;
}

h1 {
	font-size: 2.9rem;
	padding: 0;
	margin: 40px 10px;
	text-align: center;
	font-family: 'ZCOOL KuaiLe', cursive;
	text-shadow: -4px 4px 12px rgba(150, 150, 150, 1);
}

#book-header {
	z-index: -1;
	position: absolute;
	right: 0;
	width: 95vw;
	opacity: 0.2;
	filter: hue-rotate(50%);
}

ul {
	display: flex;
	align-items: right;
	justify-content: top;
}

ul li {
	font-size: 1.3rem; 
	list-style-type: none;
	display: inline-block;
}

.book-text {
	font-size: 3.2vw;
	color: yellow;
	text-align: center;
	margin: 100px 0 35px;
}

.current-book-text {
	margin: 250px auto 50px;
}

.book-cover {
	height: auto;
	margin: 50px 10px 0 10%;
	padding: 0;
	display: inline-flex;
}

.book-cover img {
	width: 30vw;
	height: auto;
	// min-height: 350px;
}

.current-book img {
	display: flex;
}

.align-left {
	align-items: start;
	margin: 20px;
}

.min-height {
	min-height: 400px; 
}

figure.previous img {
	/*box-shadow: 3px -1px 46px -3px rgba(27,92,245,1);*/
}

figure {
	display: flex;
	position: relative;
	padding: 0;
}

figure:hover span img {
	box-shadow: 3px -1px 36px 6px rgba(153,181,247,1);
}

figcaption {
	position: absolute;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	text-align: center;
	/*white-space: pre;*/
}

.add-rating {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 150px auto 0;
	height: 32px;
	font-size: 1.4rem;
	width: 130px;
	max-width: 100%;
	background: white;
	opacity: 0.8;
	position: relative;
	/*height: 22px;*/
	top: 0;
	transition: height .15s ease, width .15s ease-in-out, padding .15s ease, top .15s ease, opacity .15s ease;
}

.form-wrapper {
	display: flex;
	background: linear-gradient(rgba(107, 209, 251, 0.95) 10%, rgba(107, 209, 251, 0.5), rgba(107, 209, 251, 0.01));
	flex-direction: column;
	height: 0;
	overflow: hidden;
	position: relative;
	top: 0;
	bottom: 0;
}

form input {
	margin: -2px;
	height: 30px;
	border-radius: 4px;
	background: white;
	color: skyblue;
	padding: 2px;
	font-size: 1.5rem;
	width: 80%;
}

// -------------------------- RANGE INPUT MIXINS --------------------------

// Codepen to test this out: https://codepen.io/prupke/pen/wNVvJX

@mixin range-inputs() { 
	background: skyblue; 
	font-size: 13rem;
	margin: 5px;
	padding: 0;
	width: 150px;
	height: 30px;
}

// set the width and height of the range input here
$input-w: 12rem;
$input-h: 2rem;
$track-h: .625*$input-h;
$thumb-d: .8125*$input-h;
$filll-h: .3125*$input-h;

// Adjust this if the tracker is misaligned (happens with webkit browsers)
$sw: 0*$track-h;

@mixin range-input-highlight-boxes($c: white, $a: .9) {
	box-sizing: border-box;
	border: none;
	padding: none;
	border-radius: 25px;
	background: currentcolor content-box;
	color: rgba($c, $a);
}

@mixin range-input-track() {
	height: $track-h;
	@include range-input-highlight-boxes(white)
}

@mixin range-input-fill() {
	height: $filll-h;
	@include range-input-highlight-boxes(white, .4)
}

@mixin range-input-thumb() {
	width: $thumb-d; height: $thumb-d;
	border-radius: 0;
	@include range-input-highlight-boxes(skyblue)
}

input[type='range'] {
	&, &::-webkit-slider-thumb {
		-webkit-appearance: none
	}

	&:before {
		content: "👎";
	}
	
	margin: .25em auto;
	display: block;
	width: $input-w; height: $input-h;
	@include range-input-highlight-boxes;
	font: 1em verdana sans-serif;
	
	&::-webkit-slider-runnable-track {
		@include range-input-track()
	}
	&::-moz-range-track {
		@include range-input-track()
	}
	&::-ms-track {
		@include range-input-track()
	}
	
	&::-moz-range-progress {
		@include range-input-fill()
	}
	
	&::-ms-fill-lower {
		@include range-input-fill()
	}
	
	&::-webkit-slider-thumb {
		margin-top: .5*($track-h - $thumb-d) - 2*$sw;
		@include range-input-thumb()
	}
	&::-moz-range-thumb {
		@include range-input-thumb()
	}
	&::-ms-thumb {
		margin-top: 0;
		@include range-input-thumb()
	}
}


// ----------------------------------------------------

.form-show {
	height: 100%;
	max-height: 100%;
	overflow: show;
	max-width: 50vw;
	/*height: 120%;*/
	top: -192px;
	transition: top 150ms ease, height 150ms ease;
}

figure:hover .add-rating {
	opacity: 1;
	height: 42px;
	/*border: none;*/

	/*padding: 18px 6px 18px;*/
	/*top: -4px;*/
	transition: width .15s ease-in-out, padding .15s ease, top .15s ease, opacity .15s ease, height .15s ease;
}

figcaption:hover div.rating-title {
	display: flex;
	flex-direction: inline-flex;
}

label {
	display: none;
}

.average-rating {
	border: 2px solid transparent;
	background: rgba(107, 209, 251, 0.85);
	border-radius: 25px;
	padding: 10px;
	width: 270px;
}

.average-rating span:first-child {
	font-weight: bold;
	background: transparent;
	color: black;
}

.book-details-and-ratings {
	// background: rgba(107, 209, 251, 0.4);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 60px auto;
}

.book-details-and-ratings ul {
	display: flex;
	flex-direction: column;
	margin: 10px auto;
	padding: 0;
	margin-left: 0;
}

.rating-number {
	color: black;
	font-weight: bold;	
	padding: 2px 4px;
	border-radius: 4px;
}

.rating-0 {
	background: #FF0000;
}
.rating-1 {
	background: #FF3300;
}
.rating-2 {
	background: #ff6600;
}
.rating-3{
	background: #ff9900;
}
.rating-4 {
	background: #FFCC00;
}
.rating-5 {
	background: #FFFF00;
}
.rating-6 {
	background: #ccff00;
}
.rating-7 {
	background: #99ff00;
}
.rating-8 {
	background: #66ff00;
}
.rating-9 {
	background: #33ff00;
}
.rating-10 {
	background: #00FF00;
	box-shadow: 3px -1px 6px 6px rgba(153,181,247,1);;
}	

.rating-notes {
	display: none;
}

.rating {
	position: relative;
}

.rating:hover .rating-notes {
	font-style: italic;
	position: absolute;
	display: block;
	background: rgba(107, 209, 251, 0.94);
	margin-top: -28px;
	width: 25vw;
	padding: 5px;
	left: 150px;
	z-index: 10;
}

.more {
	font-size: 0.9rem;
	color: white;
	background: transparent;
}

.see-all {
	display: inline-flex;
	height: 24px;
	width: auto;
	padding: 2px 6px;
}

.book-image img {
	width: 30vw;
	height: auto;
	min-height: 300px;
}

.book-title-wrapper, .book-author-wrapper {
	max-width: 500px;
}

.book-title {
	background: rgba(107, 209, 251, 0.85);
	color: black;
	padding: 0 1px;
}

.by {
	font-size: 0.9rem;
	background: rgba(0, 0, 0, 0.4);
	// background: transparent;
	color: white;
}

.book-author {
	color: yellow;
	background: rgba(0, 0, 0, 0.4);
	font-size: 1.0rem;
	margin: 0;
}

section {
	display: flex;
	ul {
		display: flex;
		flex-direction: column;
		margin: 10px 5%;
		width: 100%;
		text-align: left;
		justify-content: center;
		li {
			margin: 10px;
			span {
				background: green;
				color: black;
				// border-radius: 4px;
				padding: 0 2px;
			}
		}
	}
}

.current-book-section {
	flex-direction: row;
	justify-content: center;
	/*max-height: 100%;*/
}

.current-book-info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 50vw;
}

.current-book-section ul {
	padding: 0;
	display: flex;
	align-items: center;
}

.book-title-and-author {
	width: 100%;
	margin: 10px auto 20px;
}



#copyright {
	position: absolute;
	bottom: 20px;
	right: 10px;
	color: white;
	font-size: 0.6rem;
	margin: 2px 20px;
}

.form-wrapper form {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.range-output {
	width: 80px;
	display: flex;
	flex-direction: column;
	margin: 5px auto;
}

.move-add-rating-up {
	/*width: 110%;*/
	height: 42px;
	padding: 10px 2px;
	opacity: 1;
	border: none;
	top: -192px;
	transition: height 150ms ease, width 150ms ease-in-out, top 150ms ease, padding 150ms ease;
	border-radius: 25px 25px 0 0;
	background: white;
	color: skyblue;
	box-shadow: 3px -1px 46px -3px rgba(27,92,245,1);
}

/* this is used with the range input for the ratings*/
output { 
	position: relative;
	color: yellow;
	font-size: 1.4rem;
	background: black;
	padding: 5px;
	border-radius: 25px;
	text-align: center; 
}
